/*style partie body*/

body {

    display: flex;

}



                          /*style partie left*/



.left {

    background-color: #FFBF00  ;
    width: 30%;
    
    text-align: center;
    color: black;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.photo {

    border-radius: 50%;
    box-shadow: 5px 5px 5px yellow;

    margin-top: 20px;


    
    
}

figure {

    text-align: center;
    
    
}
   





.loisirs {

    text-align: center;
}


.contact, .profil, .hoby {

    width: 100%;

    background-color: black;
    border-bottom: solid white;
    font-size: 30px;
    color: #FFBF00;
   

    text-align: center;
   
}



.my {

    font-size:20px;
    font-family: cursive, sans-serif;
    text-align: justify;
    height: 600px;
   padding: 0px 20px 10px 20px;

    margin: 10px 10px 10px 10px;
    
}





                            /*style partie right*/


                            
   
.right {

    background-color:white  ;
    width: 70%;
    height: 100%;
    margin-left: 20px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    color: black;
}

.dev {

    color: black;

    font-size: 20px;
   
    padding-bottom: 60px;
}


h1 {

    font-size:50px;
    color: black;  
    padding-top: 50px;
}

.zaid {

    color: #FFBF00;    
}


.formations, .experience, .recomendation {

    text-align: center;
    
    border-bottom: solid #FFBF00;
    font-size: 40px;

    color: black;
    font-family: "Gill Sans", sans-serif;

}



.info-one, .info-two, .info-three {

    display: flex;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

   
  
}



.experience-one, .experience-two, .experience-three {

    display: flex;

    

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}




.dates{

    padding-top: 18px;

    display: flex;

    color: #FFBF00;

    

    
    font-size: large;  

    margin-left: 10px;

}

.titre {

    padding-left: 50px;

    
    
}

}



.fas {

    margin-left: 10px;

    

    margin-right: 20px;
    border-radius: 50%;
    
}

.motifs {

    display: flex;

    justify-content: center;

    justify-content: space-around;
    
}



.souligner {

    border-bottom: solid #FFBF00;
   
}

.resumé {

    color: #FFBF00;
}

.rec {

    display: flex;

    text-align: justify;

   justify-content: space-around;

    font-size: 20px;
    
}



/* styles media query 500px */



@media screen and (max-width: 500px) {

    body {

        display: block;
   
    }

    .left {

        width: 100%;
        
    }

    .right {

        width: 100%;        

    }

    .info-one, .info-two, .info-three {

        display: block;
        text-overflow: ellipsis;
    }

    .experience-one, .experience-two, .experience-three {

        display: block;
        text-overflow: ellipsis;
    }

    .photo {

        margin-top: 20px;
    }

    .right, .left {

        display: inline-block;
        
    }

    .rec {

        text-align: justify;
    }

    
}

/* styles media query 700px */

@media screen and (max-width: 700px) {

    .my {

        overflow: hidden;

    }

    

    .left {

        width: 100%;   
        
    }

    .right {

        width: 100%;    
    }

   
}



/* styles media query 980px */



@media screen and (max-width: 980px) {

    .motifs {

        display: block;
    }

    .left {

        width: 100%;     
        
    }

    .right {

        width: 100%;   
    }

    

    .contact {

        width: 100%;  
    }

    

}



